<p>ようこそ、ながのCAKEへ!</br>
    このサイトは、ケーキ販売のECサイトになります。</br>
    会員でない方も商品お観覧はできますが、</br>
    購入には会員登録が必要になります。
</p>

<h4><strong>新着商品</strong></h4>


  <% @items.each.with_index(1) do |item|%>
  <%= image_tag item.get_image, size: "200x200" %>
  <%= item.name %>
  <%= item.price %>
    
  <% end %>

<%= link_to "全ての商品を見る", items_path  %>
